[data-theme="dark"] {
  --primary-color: rgb(41, 41, 41);
  --secondary-color: #1e1e1e;
  --background-color: #121212;
  --text-color: #ffffff;
  --table-bg-color: #ce0505; /* Tło tabeli w ciemnym motywie */
  --header-bg-color: #9e2020; /* Tło nagłówka */
  --header-text-color: #ffffff; /* Tekst w nagłówku */
  --slider-gradient: rgba(250, 250, 240, 0) 100%;
  --slider-accent-color-up: #067739;
  --slider-accent-color-down: #770606;
  --button-primary-color: blue;
  --button-primary-hover-color: darkblue;
}
