[data-theme="light"] {
  --primary-color: #dbdbdb;
  --secondary-color: #d4d4d4;
  --background-color: #ffffff;
  --text-color: #000000;
  --table-bg-color: #333333; /* Tło tabeli w ciemnym motywie */
  --header-bg-color: #444444; /* Tło nagłówka */
  --header-text-color: #ffffff; /* Tekst w nagłówku */
}
