[data-theme="light"] {
  --primary-color: #dbdbdb;
  --secondary-color: #f3f3f3;
  --background-color: #ffffff;
  --text-color: #000000;
  --table-bg-color: #333333; /* Tło tabeli w ciemnym motywie */
  --header-bg-color: #444444; /* Tło nagłówka */
  --header-text-color: #ffffff; /* Tekst w nagłówku */
  --slider-gradient: rgba(250, 250, 240, 0) 100%;
  --slider-accent-color-up: #067739;
  --slider-accent-color-down: #770606;
}
